<p>Elapsed seconds: @elapsedSeconds</p>

@code {
    private int elapsedSeconds;
    private System.Timers.Timer timer = null!;

    protected override void OnInitialized()
    {
        base.OnInitialized();
        // Timer fires every 1 second (1000 milliseconds)
        timer = new(1000);  
        timer.Elapsed += (sender, e) =>
        {
            elapsedSeconds++;  
            // Notify Blazor that the component needs to be re-rendered
            StateHasChanged(); 
        };
        timer.Start();
    }

}