@using System.Text.RegularExpressions
@inject IJSRuntime JsRuntime

@if (renderingFinished)
{
    @if (ShowComponentName || true)
    {
        <div class="d-flex pb-1 align-items-center gap-1 ">
            <MudIcon Size="Size.Small" Icon="@Icons.Material.Outlined.FileOpen"></MudIcon>
            <MudText class="fw-bold">@ComponentFileName</MudText>
        </div>
    }
    <CodeSnippet Language="csharp">
        @_originalMarkup
    </CodeSnippet>

}

@code {

    [Parameter, EditorRequired] public required Type T { get; set; }
    
    [Parameter]
    public string Language { get; set; } = "csharp";

    [Parameter]
    public bool ShowComponentName { get; set; } = true;


    private string ComponentFileName => $"{Regex.Replace(T.Name, @"`\d+", "")}.cs";

    private bool renderingFinished = false;
    private string _originalMarkup = null!;


    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        _originalMarkup = ReadOriginalMarkup();
        renderingFinished = true;
        StateHasChanged();


        await JsRuntime!.InvokeVoidAsync("highlightSnippet");
        StateHasChanged();
    }


    private string ReadOriginalMarkup()
    {
        var manifestResourceNames = T.Assembly.GetManifestResourceNames();
        var key = manifestResourceNames.FirstOrDefault(x => x.Contains(ComponentFileName));

        if (key == null)
        {
            throw new FileNotFoundException(ComponentFileName);
        }
        using (var stream = T.Assembly.GetManifestResourceStream(key))
        using (var reader = new StreamReader(stream!))
        {
            var read = reader.ReadToEnd();
            return read;
        }
    }
}