<ListComponent3 ListItems="new List<TestClass>() { new(1, 2), new(2, 3) }">
    <Title>
        <h2>This is the title</h2>
    </Title>
    <ListItemTemplate>
        <p>a: @context.a, b: @context.b</p>
    </ListItemTemplate>
</ListComponent3>