<p>Transient value: @TransientService.GetValue()</p>
<p>Scoped value: @ScopedService.GetValue()</p>

@code {

    [Inject]
    IExampleTransientService TransientService { get; set; } = null!;

    [Inject]
    IExampleScopedService ScopedService { get; set; } = null!;

}