<button class="btn btn-primary" >Click me</button>
<div class="ex-container">
    @* Add your code here *@
</div>


@code {
    @* Create properties and fields here *@
    private bool _showList = false;
    [Parameter] public List<int> Numbers { get; set; } = null!;

}