<div id="ex2-container">
    <button class="btn btn-primary toggle">Toggle details visibility</button>
    <div class="accordion">
        @* Accordion content should come here *@
        <div class="title">
        </div>
        <div class="details">
        </div>
    </div>
</div>

@code {
    public record Employee(int Id, string FirstName, string LastName, string Position);
}