@using System.Reflection
@typeparam TContent
<div id="ex3-container">
    <button class="btn btn-primary toggle">Toggle details visibility</button>
    <div class="accordion">
        @* Accordion content should come here *@
        <div class="title">
        </div>
        <div class="details">
        </div>
    </div>
</div>

@code {

    public IList<PropertyInfo> GetProperties(object objectToRender)
    {
        // You can use the .Name property on the result list items to show its name like Id, FirstName, LastName, Postion
        return objectToRender.GetType().GetProperties();
    }
    
    public string GetPropertyValue(PropertyInfo propertyInfo, object objectToRender)
    {
        // This will get the actual value for the property, like "Test", "CFO"? etc. 
        // !! Don't forget that it needs the actual employee object as a parameter !!
        return propertyInfo.GetValue(objectToRender)?.ToString() ?? "";
    }

}