@using BlazorCraft.Web.Tests._5_RenderFragments

<div id="@Test_RenderFragments_Ex1_Basics.ContainerId">
    <button class="btn btn-primary toggle">Toggle details visibility</button>
    <div class="accordion">
        @* Accordion content should come here *@
        <div class="title">
        </div>
        <div class="details">
        </div>
    </div>    
</div>

@code {

}