@page "/exam"
@using BlazorCraft.Web.Shared._Exercises.Exam
@using BlazorCraft.Web.Tests.Exam
<MudText Typo="Typo.h4">Exam exercise</MudText>
<div class="d-grid gap-3">
    <MudText>
        Congratulations for making it to the final part of this application!
    </MudText>
    <MudText>
        In this chapter, you will learn nothing new, but put together everything you have learned so far.
    </MudText>
    <MudText>
        In this exam, you will create a minified stripped down employee management page, where employees can be
        <ul>
            <li>Listed in a grid</li>
            <li>Created</li>
            <li>Edited</li>
            <li>Shown details for in a separate panel</li>
            <li>Deleted</li>
        </ul>
    </MudText>
    <MudText>The layout will be predefined for you, as it is out-of-scope for this application to teach the usage of CSS libraries and/or CSS itself</MudText>
    <MudText>The layout will often use components of MudBlazor, but don't worry, everything will be explained how they can be used, also the general look of the component will be much better this way</MudText>

    <MudExpansionPanels MultiExpansion="true">
        <MudExpansionPanelWithStoredState Id="exam-exercise">
            @*<PanelHeaderWithTestTracking TTestClass="null">*@
            <TitleContent>
                <MudText Typo="Typo.h6" Class="fw-bold">Exam exercise</MudText>
            </TitleContent>
            @*</PanelHeaderWithTestTracking>*@
            <ChildContent>
                <MudExpansionPanelWithStoredState Id="employee-form">
                    <TitleContent>
                        <PanelHeaderWithTestTracking TTestClass="Test_Exam_EmployeeForm">Employee form</PanelHeaderWithTestTracking>
                    </TitleContent>
                    <ChildContent>
                        <TestRunner TTestClass="Test_Exam_EmployeeForm"></TestRunner>
                    </ChildContent>
                </MudExpansionPanelWithStoredState>
                <MudExpansionPanelWithStoredState Id="employee-create">
                    <TitleContent>
                        <PanelHeaderWithTestTracking TTestClass="Test_Exam_EmployeeCreate">Employee create</PanelHeaderWithTestTracking>
                    </TitleContent>
                    <ChildContent>
                        <TestRunner TTestClass="Test_Exam_EmployeeCreate"></TestRunner>
                    </ChildContent>
                </MudExpansionPanelWithStoredState>
                @*<MudExpansionPanelWithStoredState Id="employee-details">
                    <TitleContent>
                        <PanelHeaderWithTestTracking TTestClass="Test_Exam_EmployeeForm">Employee create</PanelHeaderWithTestTracking>
                    </TitleContent>
                    <ChildContent>
                        <TestRunner TTestClass="Test_Exam_EmployeeForm"></TestRunner>
                    </ChildContent>
                </MudExpansionPanelWithStoredState>
                <MudExpansionPanelWithStoredState Id="Putting it together">
                    <TitleContent>
                        <PanelHeaderWithTestTracking TTestClass="Test_Exam_EmployeeForm">Putting it all together</PanelHeaderWithTestTracking>
                    </TitleContent>
                    <ChildContent>
                        <TestRunner TTestClass="Test_Exam_EmployeeForm"></TestRunner>
                    </ChildContent>
                </MudExpansionPanelWithStoredState>*@
                <div class="d-grid gap-3">
                    <Exercise_Exam></Exercise_Exam>
                </div>
            </ChildContent>
        </MudExpansionPanelWithStoredState>
    </MudExpansionPanels>
</div>

@code {

}