<ul>
    <ListComponent4 T="int" ListItems="new List<int>() { 1, 2, 3 }">
        <Title>
            <p>My title</p>
        </Title>
        <ListItemTemplate>
            <li>@context</li>
        </ListItemTemplate>
    </ListComponent4>
</ul>