<div class="mb-3">
    <label class="form-label">First Name</label>
    @* input for Employee.Id *@
    <input class="form-control employee-first-name" type="text"/>
</div>
<div class="mb-3">
    <label class="form-label">Last Name</label>
    @* input for Employee.Name *@
    <input class="form-control employee-last-name" type="text"/>
</div>


@code {
    private string? _firstName;
    private string? _lastName;

        @* Create properties for FirstName and LastName and their accompanying EventCallBacks to notify the consumer component about changes *@
        @*!! Please use the names "FirstName" and "LastName" !!*@
}