@* Render all employees inside the table provided *@
@* each employee should be rendered in <tr> tags. You should already be familiar how table rows are to be rendered from the previous lessons *@
@* In the last cell, render a  <button class="btn btn-primary">Edit</button> *@
@* Upon clicking the Edit button, render a ComponentDataBinding_Ex1 component binding the First and Last Name to it *@
@* By default the Editor should be hidden! *@
@* No animation is required, render another table row and inside a <td colspan="4"> {Component here} </td> *@

<table class="table table-dark">
    <thead>
    <tr>
        <th>Id</th>
        <th>FirstName</th>
        <th>LastName</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @* Render employees here *@
    </tbody>
</table>

@code
{
    public class Employee
    {
        public int Id { get; set; }
        public string FirstName { get; set; } = null!;
        public string LastName { get; set; } = null!;

        // You can use this variable to show/hide the editor
        public bool IsEditorVisible { get; set; }
    }
}