@using BlazorCraft.Web.Tests
<MudText Typo="Typo.body1">@TestRunResult.ErrorMessage</MudText>
<div class="row">
    <div class="col-6">
        <MudText Typo="Typo.subtitle1" Class="fw-bold">Expected HTML markup: </MudText>
        <CodeSnippet>
            @TestRunResult.ExpectedMarkup
        </CodeSnippet>
    </div>
    <div class="col-6">
        <MudText Typo="Typo.subtitle1" Class="fw-bold">Actual HTML markup: </MudText>
        <CodeSnippet>
            @TestRunResult.ActualMarkup
        </CodeSnippet>
    </div>
</div>

@code {

    [Parameter, EditorRequired]
    public HtmlMarkupMismatchTestRunResult TestRunResult { get; set; } = null!;

}