<div class="ex-container">
    
    <table class="table table-dark">
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        
        @* Add your code here *@
        @* For the button, you can use this template: <button class="btn btn-primary">Delete</button>*@
        </tbody>
    </table>
    
    
</div>

@code {

    public record Employee(int Id, string Name);
    @* Create parameters here *@
}