@using Employee = ComponentEvents_Ex1_EventCallBack.Employee

<div class="grid-container">
    
</div>
<div class="deleted-employees">
</div>
@code {
    public record Employee(int Id, string Name);
    
    @* Create fields and properties here *@
    @* 
    Some test data to experiment with:
    new(1, "Test Theodore"),
    new(2, "Test Tiffany"),
    new(3, "Test Thomas"),
    new(4, "Test Timothy")
    *@
}