<ListComponent5 T="int" ListItems="new List<int>() { 1, 2, 3 }">
    <Title>
        <h2>My title</h2>
    </Title>
    <ListItemTemplate>
        <li>@context</li>
    </ListItemTemplate>
    <ListTemplate>
        <ul>@context</ul>
    </ListTemplate>
</ListComponent5>