@using BlazorCraft.Web.Shared._Exercises.Exam
@* Employee form here *@

@* Put these at the end of the form*@
<div class="pt-2">
    <MudButton id="@SaveButtonId" Variant="Variant.Filled" Color="Color.Primary">Save</MudButton>
    <MudButton id="@CancelButtonId" Variant="Variant.Filled" Color="Color.Primary" >Cancel</MudButton>
</div>

@code {
    public const string SaveButtonId = "save";
    public const string CancelButtonId = "cancel";

    [Parameter]
    public ExamEmployee Employee { get; set; } = null!;

    [Parameter]
    public EventCallback<ExamEmployee> EmployeeChanged { get; set; }

    [Parameter]
    public bool IsEditMode { get; set; }

    //Call this once the Employee is known to be valid
    [Parameter]
    public EventCallback EmployeeValid { get; set; }

    //Call this once the Cancel button is pressed
    [Parameter]
    public EventCallback Cancel { get; set; }

}