@using BlazorCraft.Web.Shared._Exercises.Exam
@inject IJSRuntime JSRuntime
@inject IExamEmployeeService EmployeeService

<MudContainer>
    <div class="d-flex align-items-center justify-content-between">
        <div>
            @* Employee profile picutre comes here *@

            <img width="72px" height="72px" alt="Random Person"/>
        </div>
        <div class="d-flex align-items-center justify-content-center flex-grow-1">
            @* Employee firstname and lastname comes here*@

        </div>
        <div class="d-flex flex-column justify-content-start align-items-center gap-2">
            @* Close, Edit and Delete buttons here*@
            <MudButton id="@CloseButtonId" Size="Size.Small" Variant="Variant.Filled" Color="Color.Secondary">Close</MudButton>
            <MudButton id="@EditButtonId" Size="Size.Small" Variant="Variant.Filled" Color="Color.Primary">Edit</MudButton>
            <MudButton id="@DeleteButtonId" Size="Size.Small" Variant="Variant.Filled" Color="Color.Primary">Delete</MudButton>
        </div>
    </div>

</MudContainer>
}

@code {

    public const string CloseButtonId = "close";
    public const string EditButtonId = "edit";
    public const string DeleteButtonId = "delete";

    [Parameter] public int EmployeeId { get; set; }

    [Parameter] public EventCallback Closed { get; set; }
    
    public void UpdateImage(string imageBase64)
    {
        StateHasChanged();
    }

}