<div>@Title</div>
@foreach (var item in ListItems)
{
    <div>a: @item.a, b: @item.b</div>
}
@code{
    
    [Parameter, EditorRequired] public required string Title { get; set; }
    [Parameter, EditorRequired] public required List<TestClass> ListItems { get; set; }

}
