@using BlazorCraft.Web.Shared.Examples._7_DependencyInjection
<p>Transient value: @TransientService.GetValue()</p>
<p>Scoped value: @ScopedService.GetValue()</p>

@code {

    [Inject]
    IExampleTransientService TransientService { get; set; }

    [Inject]
    IExampleScopedService ScopedService { get; set; }

}